<div style="background-color: blue;">


  <!--Navbar-->
 <nav class="navbar navbar-expand-lg navbar-dark primary-color">

   <!-- Navbar brand -->
   <a class="navbar-brand" href="#">eShopee</a>

   <!-- Collapse button -->
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
     aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

   <!-- Collapsible content -->
   <div class="collapse navbar-collapse" id="basicExampleNav">


    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>

      </li>
    </ul>
     <!-- Links -->
     <ul class="navbar-nav mr-auto" *ngFor="let item of categories">
       <li class="nav-item active">
         <a class="nav-link"  routerLink="/productlist" routerLinkActive="active" (click)="selectCatagory(item.code)">{{item.name}}</a>
       </li>
     </ul>

    <ul class="navbar-nav mr-auto" *ngIf="!isLoggedIn()">
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/signup" routerLinkActive="active" >Sign In</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn()">
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/home" routerLinkActive="active" (click)="logout()" >Sign Out</a>
      </li>
    </ul>
     <!-- Links -->

     <form class="form-inline">
       <div class="md-form my-0">
         <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
       </div>
     </form>
   </div>
   <!-- Collapsible content -->

 </nav>

   </div>
